<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

	<select id="complexSearch" resultType="MemberDto">
		<include refid="pagingHeader"></include>

		<!-- 메인 조회 구문 -->
		select * from member
		<where>

		</where>

		<!-- 정렬 구문 -->

		<include refid="pagingFooter"></include>
	</select>
	<sql id="pagingHeader">
		<if test="begin != null and end != null">
			select * from (
			select rownum rn, TMP.* from(
		</if>
	</sql>

	<sql id="pagingFooter">
		<if test="begin != null and end != null">
			)TMP
			) where rn between #{begin} and #{end}
		</if>
	</sql>
</mapper>